<div class="header">
    <!--<div class="logo">-->
      <!--<h3>cedaus.</h3>-->
    <!--</div>-->
</div>
<div class="content">
  <div class="intro">
    <h4 class="heading">Hi, welcome to my space.</h4>
    <p class="paragraph">This is the collection of relevant work from my desk.</p>
  </div>
  <div class="mt30">
    <ul class="unordered-list-2 clearfix">
      <li *ngFor="let resource of resources" class="list-item-3"><a href="{{resource.link}}" target="_blank">{{resource.title}}</a></li>
    </ul>
  </div>
  <div class="about mt50">
    <div class="about-me mt30">
      <div class="about-me-img">
        <img src="../assets/image/photo.jpg">
      </div>
      <div class="about-me-text">
        <h4 class="name">SAKSHAM JAIN</h4>
        <span class="heading">Product Engineer at TapChief</span>
        <p class="summary">
          As a product leader, I blend engineering with entrepreneurship to develop product ideas into impactful businesses.
          I aim to truly understand customers needs and provide big values through seamless experiences and advanced analytics frameworks.
          Technically I hold expertise in <strong>Full Stack Development</strong> with skills like Angular, Django and REST APIs.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="social">
    <ul class="social-icons">
      <!--<li><a href="" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>-->
      <!--<li><a href="" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a></li>-->
      <li><a href="https://www.linkedin.com/in/cedaus97/" target="_blank" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
