.center {
  position: relative;
  display: block;
  width: 35%;
  margin: auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
/*
MARGINS
 */
.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-l-r-30 {
  margin: 0px 30px;
}
.m-l-r-40 {
  margin: 0px 40px;
}
.m-l-r-50 {
  margin: 0px 50px;
}
.m-l-r-60 {
  margin: 0px 60px;
}
.m-l-r-70 {
  margin: 0px 70px;
}
.m-l-r-80 {
  margin: 0px 80px;
}
.m-l-r-90 {
  margin: 0px 90px;
}
.m-l-r-100 {
  margin: 0px 100px;
}
.m-l-r-150 {
  margin: 0px 150px;
}
/*
OVERFLOW
 */
.overflow-hidden{
	overflow: hidden;
}
