.nav-tabs {
  margin-bottom: 18px;
  border: 0;
}
.nav-tabs li {
  display: inline;
  margin-right: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}
.nav-tabs li.active {
  color: #ffffff;
  background: #2b2130;
}
.nav-tabs li.active:hover {
  color: #ffffff;
  background: #2b2130;
}
.nav-tabs li:hover {
  background: linear-gradient(45deg, #27aae1, #2e3192);
  border-radius: 2px;
  color: #ffffff;
}
