.nav-tabs {
  margin-bottom: 18px;
  border: 0;
}
.nav-tabs li {
  display: inline;
  margin-right: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #EBEBEB;
}
.nav-tabs li.active {
  background: #B5B9BF;
  border: 1px solid #A0A0A0;
}
.nav-tabs li:hover {
  border: 1px solid #A0A0A0;
  border-radius: 2px;
}
