<div class="header m-l-r-30">
    <!--<div class="logo">-->
      <!--<h3>cedaus.</h3>-->
    <!--</div>-->
  </div>
<div class="m-t-20 m-l-r-150">
  <div class="intro m-t-100">
    <h4 class="intro-heading">Hi, welcome to my space.</h4>
    <p class="paragraph">This is the collection of relevant work from my desk.</p>
  </div>
  <div class="m-t-30">
    <ul class="unordered-list-2 clearfix">
      <li class="list-item-3"><a href="http://needwant.com" target="_blank">Blackbox of Product Management</a></li>
      <li class="list-item-3"><a href="http://needwant.com" target="_blank">Guirlilla Testing for EdTech Startup</a></li>
      <li class="list-item-3"><a href="http://needwant.com" target="_blank">Side Projects the new Growth Hack</a></li>
      <li class="list-item-3"><a href="http://needwant.com" target="_blank">Building a Digital Marketing Machine</a></li>
      <li class="list-item-3"><a href="http://needwant.com" target="_blank">An introduction to Technology Stack for Non Tech Founders</a></li>
    </ul>
  </div>
  <div class="about m-t-50">
    <div class="about-me m-t-30">
      <div class="about-me-img">
        <img src="../assets/image/photo.jpg">
      </div>
      <div class="about-me-text">
        <h4 class="name">SAKSHAM JAIN</h4>
        <span class="heading">Product Engineer at TapChief</span>
        <p class="summary">
          I work with high impact businesses solving difficult global problems.
          I help teams truly understand customers, design seamless experiences, implement agile best practices and advanced analytics frameworks to build better products.
          I blend my engineering skills with entrepreneurship to take impactful product ideas to market.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="footer m-l-r-30">
  <div class="social">
    <ul class="social-icons">
      <!--<li><a href="" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>-->
      <!--<li><a href="" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a></li>-->
      <li><a href="https://www.linkedin.com/in/cedaus97/" target="_blank" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
