<div class="m-t-20 m-l-r-150">
  <div class="header">
    <!--<div class="logo">-->
      <!--<h3>cedaus.</h3>-->
    <!--</div>-->
    <!--<div class="social">-->
      <!--<ul class="social-icons">-->
        <!--<li><a href="" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>-->
        <!--<li><a href="" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a></li>-->
        <!--<li><a href="" target="_blank" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
  <div class="intro m-t-100">
    <h4 class="intro-heading">Hi, welcome to my space.</h4>
    <p class="paragraph">This is the collection of relevant work from my desk.</p>
  </div>
  <div class="about m-t-50">
    <div class="about-me m-t-30">
      <img src="../assets/image/photo.jpg">
    </div>
  </div>
</div>
