<div class="content">
  <div class="row">
    <div class="col-7">
      <h4 class="big-heading">Hi Saksham, this is your task space.</h4>
    </div>
    <div class="col-5 task">
      <div class="task__header">
        <ul class="nav-tabs">
          <li class="active">PENDING</li>
          <li>COMPLETED</li>
        </ul>
      </div>
      <div class="task__content">
        <ul class="task-lists">
          <li *ngFor="let task of completed_tasks">
            <input type="checkbox"/>
            <input type="text" value="{{task.title}}"/><span class="delete-btn"></span>
          </li>
        </ul>
        <ul id="uncompleted"></ul>
      </div>
    </div>
  </div>
</div>


<!-- My Version of a 'to do App'.-->
<!-- Practicing my newly learnt skills from treehouse Interactive Web Pages with JavaScript and jQuery Basics-->

