//* --------Generic Button------- *//
.gen-btn {
  padding: 11px 20px 15px 20px;
  border-radius: 100px;
  font-size: 15px;
  cursor: pointer;
  background: #FFFFFF;
}

//* --------Text Arrow Button------- *//
.text-arrow-btn {
  position: relative;
  top: -4px;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
     opacity: 1;
  }

  span {
    position: relative;
    top: -4px;
    color: $color-white-darker;
    font-weight: 500;
  }

  svg {
    margin-left: 5px;
  }
}

//* --------Switch Button------- *//
.switch {
  position: relative;
  width:55px;
  padding:5px;
  border:2px solid #FFFFFF;
  box-sizing:border-box;
  opacity:0.5;
  -webkit-filter:grayscale(100%);
  -webkit-transition:all 03s;
  transition:all 0.3s;
  border-radius:540px;
  cursor:pointer;

  &-circle {
    width:12px;
    height:12px;
    background:#FFFFFF;
    border-radius:100%;
    position:relative;
    transition:all 0.3s;
    left:0;
    -webkit-transition:all 0.3s;
  }
  &.active {
    -webkit-filter:none;
    opacity:0.85
  }
  &.active &-circle {
    left: 28px;
  }
}
