.loader_1 {
  position: relative;
}

.loader_1 .line_1,
.loader_1 .line_2,
.loader_1 .line_3,
.loader_1 .line_4,
.loader_1 .line_5,
.loader_1 .line_6 {
  transform-origin: center;
  animation: grow 1s infinite;
}

.loader_1 .line_2 {
  animation-delay: 150ms;
}

.loader_1 .line_3 {
  animation-delay: 350ms;
}

.loader_1 .line_4 {
  animation-delay: 550ms;
}

.loader_1 .line_5 {
  animation-delay: 750ms;
}

.loader_1 .line_6 {
  animation-delay: 900ms;
}

@keyframes grow {
  10% {
    transform: scale(1.5);
    opacity: 1;
  }
}
