//utilities
@function em($u) {@return ($u/16)+em;}
@function color($shades, $shade: 'base') {
  @return map-get(map-get($color, $shades), $shade);
}

//config
$font-primary: 'Nunito', sans-serif;
$font-icons: FontAwesome;
$border-radius: em(5);

//colors
$color-primary: #4070B5;
$color-blue-base: #4070B5;
$color-blue-dark: #3E68B0;
$color-blue-darker: #3959A5;
$color-blue-darkest: #354D9D;
$color-white-base: #FFFFFF;
$color-white-dark: #FAFBFC;
$color-white-darker: #EBEBEB;
$color-grey-dark: #B5B9BF;
$color-grey-darker: #A0A0A0;

$color: (
  light: (
    base 		 : hsl(0, 0%, 92%),
  ),
  primary: (
    light    : lighten($color-primary, 60%),
    base     : $color-primary,
    dark     : darken($color-primary, 10%),
    x-dark   : darken($color-primary, 30%),
  )
);

// Extends
%text-base {
	font-family: $font-primary;
  font-size: 1em;
  line-height: 1.5;
}

// global styles


//header
h3 {
	@extend %text-base;
  margin-bottom: em(18);
	font-weight: 400;
}
ul {
	list-style: none;
	padding:0;
	margin:0;
}

//inputs
input {
	@extend %text-base;
	color: inherit;
	outline: none;
	border: none;
	background: none;
}
input[type="text"] {
	padding: 0 em(6);
	width: 80%;
  margin-left: 27px;
}
//checkbox
input[type="checkbox"] {
	position: relative;
	-webkit-appearance: none;
	//visibility: hidden;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	bottom: em(2);
	&:before, &:after {
		//visibility: visible;
		display: block;
		position: absolute;
		box-sizing: border-box;
		cursor: pointer;
		font: 1em $font-icons;
		width: 1em;
		height: 1em;
	}
	&:before {
		content: "";
		border: em(2) solid;
		border-radius: $border-radius;
		box-shadow: inset em(0) em(1) em(1) hsla(0, 0%, 0%, 0.67),
											em(0) em(1) em(0) hsla(0, 0%, 100%, 0.4);
		opacity: .3;
	} //Check-'sign'
	&:after {
		content: "\f00c";
		bottom: em(1);
		left: em(1);
		opacity: 0;
	}
	&:hover {
		&:after {opacity: 1;}
	}
	&:checked {
		&:after {opacity: 1;}
		&:before {
			opacity: 0;
			background: linear-gradient(color(primary, x-dark), transparent);
		}
		@media only screen and (max-device-width:480px) {
			&:before{opacity: 1;}
			&:after{opacity: 1; color: color(light);}
		}
	}
}

// Card
.dyno-card-1 {
  margin: auto;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.55);
  padding: em(30) em(30) em(30);
  background: $color-white-dark;
  border-radius: $border-radius;
	@media only screen and (min-device-width:480px) {
		max-width: em(550);
		min-width: em(350);
    height: em(650);
	}
	> div {
		position: relative;
	}

  &__header {
    min-height: 35px;
    border-color: color(primary);
    border-bottom: em(3) solid;
  }

	&__content {
    min-height: 400px;
    max-height: 600px;
	}

}

.dyno-card-2 {
  margin: auto;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.55);
  padding: em(30) em(30) em(30);
  background: color(primary);
  border-radius: $border-radius;
  @media only screen and (min-device-width: 480px) {
    max-width: em(550);
    min-width: em(350);
    height: em(650);
  }
  > div {
    position: relative;
  }

  &__header {
    height: 35px;
  }
  &__content {
    height: 400px;
  }
  &__footer {
    height: 35px;
  }

  .carousel-2-dots {
    position: absolute;
    bottom: -7%;
    left: 44%
  }
}



// TASK LIST
.task-list {
  padding-top: 5px;
  color: color(primary);
  max-height: 450px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  li {
	  position: relative;
	  padding: em(18) 0;
	  border-bottom: 1px dashed;
  }
  li:hover {
    color: color(primary, dark);
    input[type="checkbox"] {
      &:after {
        color: color(primary);
        opacity: 1;
      }
      &:hover:after {
        color: color(primary, dark);
        opacity: 1;
      }
    }
  }
}

// TASK EMPTY LIST
.task-empty-list {
  height: 450px;
  padding-top: 180px;
  svg {
    position: relative;
    top: -10px;
    left: 45%;
    opacity: 0.8;
    line-height: 450px;
  }
  p {
    text-align: center;
    text-transform: uppercase;
  }
}

// TASK INFORMATION
.task-info {
  .heading {
    color: $color-white-base;
  }
  .title-input {
    display: block;
    margin: 0px;
    height: 50px;
    width: 100%;
    border: 1px solid $color-blue-dark;
    border-radius: 2px;
    background: $color-blue-dark;
    color: $color-white-base;
    font-size: 18px;
    &.disabled {
      color: $color-white-base;
    }
  }
  .warning {
    padding-top: 110px;
    top: 40%;
  }
  .warning svg {
    position: relative;
    left: 45%;
  }
  .warning p {
    font-size: 15px;
    text-align: center;
    color: $color-white-darker;
    line-height: 1.5;
  }
}

//
.task-error {
  position: absolute;
  top: -4px;

  span {
    position: relative;
    top: -4px;
    margin-left: 7px;
    color: $color-white-darker;
    font-weight: bold;
  }
}

.task-loader {
  top: 41%;
  left: 41%;
}

.task-bg-white {
  background: $color-white-dark;
}

.task-bg-blue {
  background: color(primary);
}

// CATEGORY LIST
.category-list {
  padding-bottom: 5px;
  max-height: 450px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.category-box {
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
  height: 120px;
  width: 48.3%;
  border: 0px solid $color-grey-dark;
  box-shadow: 0 3px 10px rgba(0,0,0,.05);
  //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  line-height: 120px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: $color-grey-dark;
  }
}

//#displayTask
#displayTask {
	display: none;
	.delete-btn { display: none; }
	input[type="checkbox"] { display: none; }
}


//************************ Icon Buttons *******************//

.delete-btn {
	position: absolute;
	@extend %text-base;
	font-family: $font-icons;
	cursor: pointer;
	right: -0.5em;
	visibility: hidden;
	transition: .2s ease-in;
	&:after {
		content: "\f040";
	}
	&:hover:after {
		content: "\f00d";
	}

}
li:hover .delete-btn {
	right: 0.5em;
	visibility: visible;
}


.add-btn {
	position: absolute;
	top: -2px;
	right: 1px;
	background: none;
	width: 25px;
	height: 25px;
	padding: 5px;
	border-radius: 50%;
	border: 1px solid $color-grey-darker;
	cursor: pointer;
  &:hover {
    background: $color-grey-dark;
    transform: scale(1.3) perspective(1px)
  }
}


.close-btn {
  position: absolute;
	top: -2px;
	right: 1px;
	background: none;
  width: 25px;
	height: 25px;
	padding: 5px;
	border-radius: 50%;
	border: 1px solid $color-blue-dark;
	cursor: pointer;
  &:hover {
    background: $color-blue-dark;
    border: 1px solid $color-blue-darker;
    transform: scale(1.5) perspective(1px)
  }
}


.save-btn {
  position: absolute;
  margin: 0px auto;
  left: 0;
  right: 0;
	bottom: -2px;
	right: 1px;
	background: none;
  width: 50px;
	height: 50px;
	padding: 5px;
	border-radius: 50%;
	background: $color-blue-dark;
  border: 1px solid $color-blue-darker;
	cursor: pointer;
  &:hover {
    background: $color-white-base;
    border: 1px solid $color-white-base;
  }
}


.category-btn {
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 11px;
  padding: 7px 26px;
  line-height: inherit;
  color: $color-grey-dark;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  background-color: $color-blue-base;
  border: 1px solid $color-blue-darker;
  border-radius: 2px;
  outline: none;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
  cursor: pointer;
  &.active {
    background-color: $color-white-base;
    border: 1px solid $color-white-darker;
  }
  &:hover {
    border: 1px solid $color-white-darker;
  }
}

.important-switch {
  top: -6px;
}

.important-label {
  position: relative;
  top: -28px;
  margin-left: 60px;
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}

.task-important-label {
  position: relative;
  top: -23px;
  margin-left: 60px;
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}
